body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mid, .end {
  display: flex;

  flex-wrap: wrap;
  gap: 0em;
}
.mid{
  justify-content: space-around;
}
.end {
  justify-content: flex-start;
}

div#root {
  margin: 0rem 1rem;
}
#root > div.container > div.top > div.end1 > div.circstart > svg{

    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 2px solid #6be38b;
    padding: 4px;
}
.end1 {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}
#root > div.container > div.top > div.end1 > div.circend > svg{
  color: #fff;
  background-color: #6be38b;

  width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 2px solid #07922c;
    padding: 4px;
}
.circstart:after {
  content: '';
  position: absolute;
  /* bottom: 0; */
  /* left: 1px; */
  /* right: 0; */
  height: 0.1px;
  margin-inline-start: -0.5em;
  margin-top: 2em;
  width: 6rem;
  border-top: 1px solid #dee2e6;
  z-index: -1;
}
.navbar-1 {
  align-items: center;
  border-bottom: 3px solid #e9ecef;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0rem 1rem;
}
.logo {
  font-size: larger;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}
.top1 {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
}
li.bold {
  font-weight: 600;
}
li.light {
  color: #636464;
}
.half {
  gap: 1em;
  display: grid;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
}
.end2 {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}
button.log {
  padding: 0.6em 2em;
}
a {
  color: inherit !important;
  text-decoration: none;
}
button {
  border-style: solid;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 1em;
  margin: 0em 1em 1em 0;
  padding: 1em 1.5em;
}
 input,.css-1s2u09g-control {
  border-style: solid;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 1em;
  margin: 0em 1em 1em 0;
  padding: 0.4em 1.5em;
}
.top {
  align-items: center;
  padding: 0 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: x-large;
}
li {
  list-style-type: none;
}
.start {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.container {
  margin: 2rem 0 !important;
  padding: 0 1rem !important;
}
button.green {
  background-color: #6be38b;
  color: #fff;
}
#root > div.navbar-1 > div.mid.hide > div > a{
 
    font-size: larger;


}
.main {
  gap: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
div#signInDiv {
  margin: 2em 1em;
}
form {
  margin-block-start: 2em;
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tw {
  background-color: #f1f1f1;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
svg.big {
  font-size: xx-large;
  margin: 1em;
}
p {
  margin: 0 !important;
  padding: 1.2em;
  font-size: large;
}
p.bold {
  font-weight: 600;
}
.two {
  grid-template-rows: 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img.img {
  clip-path: circle(50%);
}
#root > div.container > div.main > div.second > div > div.three > button{
  padding: 0;
}
#root > div.container > div.main > div.second > div > div.two > button > img {
  margin-inline-end: 1em;
  width: 35%;
  height: auto;
}
#root > div.container > div.main > div.second > div > div.two > button {
  font-size: initial;
  color: #212529;
  padding: 0;
}

.end11{
  display: flex;

  flex-wrap: wrap;
  gap: 0em;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  div#root {
    margin: 1em 0rem;
}
.end1 {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: flex-start;
}
button.log {
  padding: 0.6em 3em;
}
  .main,form,.top,.three{
    grid-template-columns: 1fr;
  }
  .end{
    justify-content: flex-start;
  }
  
  .footer {
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
    flex-direction: column-reverse;
}
.logo {
  font-size: larger;
  margin-block-end: 1em;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.end2 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.hide{
  display: none;
}
.navbar-1 {
  
  grid-template-columns: 1fr;

}

}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1320px !important;
}}